/* CursorAnimation.css */

.bubbles {
    border-radius: 100%;
    position: absolute;
    pointer-events: none;
    background: linear-gradient(45deg, #9a8e77, #f6f4f2);
    /* Gradient from golden to yellow */
    box-shadow: 10px 10px 30px rgba(240, 213, 159, 0.8), -10px -10px 30px rgba(246, 244, 243, 0.8);
    /* Golden shadow */
    transform: translate(-50%, -50%);
    animation: colorgen 1s forwards;
    /* Run the animation only once and stay in its final state */
    margin: 0;
    /* Remove margin to eliminate the gap between bubbles */
    z-index: 1;
}

@keyframes colorgen {
    0% {
        opacity: 1;
        filter: hue-rotate(0deg);
    }

    100% {
        opacity: 0;
        filter: hue-rotate(0deg);
        /* Keep the color constant (golden) */
    }
}