.newhome{
    height: 500vh;
    background-image: url('./photos24/Alumination.png');
    background-size: cover; 
    background-repeat: no-repeat;
}
.About{
    margin-top: 800px;
    text-align: center;
    font-size: 100px;
    color:#700815;
    
}

.mainHome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.upperMainHome{width: 100%; height: 70%;
/* background-color: rgba(0, 255, 255, 0.323); */
}

.lowerMainHome{width: 100%; height: 30%;
/* background-color: rgba(153, 255, 0, 0.374); */
display: flex;
justify-content: center;
align-items: flex-start;}

.registerHome{
    height: 35%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 255, 255, 0.323);  */
    margin-top: 1%;
    background-image: url('./photos24/register.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    }

.dragonHome{
    height: 60%;
    width: 20%;
    /* background-color: rgba(0, 255, 255, 0.323); */
    position: absolute;
    right: 0%;
    top: 5%;

}