.newhome{
    background-image: url('C:\Users\prati\OneDrive\Desktop\sarc\alumination_yash\Alumination24-25\frontend\src\components\Home\photos24\Homepage Alumination 2.png');
    background-size: cover; 
    background-repeat: no-repeat;
}
.About{
    margin-top: 800px;
    text-align: center;
    font-size: 100px;
    color:#700815;
    
}