.schedule-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./bgimg/backg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.schedule-page {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 80%;
    max-width: 600px;
    transition: transform 0.3s ease-in-out;
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.schedule-header h2{
    font-size: 38px;
    font-weight: 600;
    font-family: 'Inknut Antiqua', serif;
    color: #533838;
}

.swipe-button {
    background-color: #533838;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.swipe-button:hover {
    background-color: #392828;
}

.schedule-table {
    width: 100%;
}

/* Style for table content */
.schedule-table th,
.schedule-table td {
    padding: 8px;
}

/* Add your additional styles as needed */