.paragraph{
    display: flex;
    font-size: 33px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      font-size: 20px;
    }

    .word{
      position: relative;
      margin-right: 12px;
      margin-top: 12px;
      .shadow{
        position: absolute;
        opacity: 10%;
      }
    }
    
  }