.about_paragraph{
  display: flex;
  font-size: 40px;
  flex-wrap: wrap;
  // min-height: 200vh;
  @media (max-width: 768px) {
    font-size: 28px; // Styles for screens smaller than 768px
  }

  .about_word{
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    .about_shadow{
      position: absolute;
      opacity: 20%;
    }
  }
  
}