.team-container {
    text-align: center;
    padding: 0px;
    background-image: url('./bgimg/teambg.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    height: 100vh;
    overflow: scroll !important;
    padding-bottom: 10vh;
}

.top-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 30vw;
}

.top-images img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.team-members {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.team-member img{
    margin: 0 50px ;
}

.left-column,
.right-column {
    
    text-align: center;
    display: flex;
    flex-direction: row;
}



.team-member p {
    font-weight: bold;
}

.title p {
    font-family: 'Inknut Antiqua';
    color: #F4DEA8;
    font-size: 20px;
}

.title h2{
    font-family: 'Inknut Antiqua';
        color: #F4DEA8;
        font-size: 30px;
}

.team-container h1 {
    font-family: 'Inknut Antiqua';
    color: #F4DEA8;
    font-size: 50px;
    font-weight: 600;
    display: inline-block;
    /* Display as inline-block to limit background to text width */
    background-color: rgb(74, 27, 27);
    border: 2px solid #F4DEA8;
    border-radius: 12px;
    padding: 10px 20px;
    /* Add some padding to give space around the text */
}

.team-container h2 {
    font-family: 'Inknut Antiqua';
    color: #F4DEA8;
    font-size: 30px;
}
.OC{
    margin: 0 20px;
}

.OC p{
font-family: 'Inknut Antiqua';
    color: #F4DEA8;
    font-size: 25px;
    font-weight: 200;
}

.footer {
    padding: 0;
    /* Remove padding */
    margin: 0 !important;
    /* Remove margin */
    /* Add any other styles specific to the footer if needed */
}

.prerna {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/prerna.jpg');
    background-color: black;

}

.aastha {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/aastha.JPG');
    background-color: black;

}
.sancheti {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/sancheti1.jpeg');

}

.priyaank {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/priyaank.jpg');

}

.kinjal {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/kinjal1.jpeg');
}


.aniruddh {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/anni.jpg');

}

.garv {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/garv.jpg');

}

.agrajah {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/agrajah.jpeg');

}

.sanket {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/sanket.jpeg');

}

.nakul {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/nakul1.jpeg');

}

.shounak {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/shounak.jpg');

}

.vishal {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/vishal.jpg');

}

.vaibhavi {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/vaibhavi.jpg');

}

.priyanshi {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/priyanshi.jpg');

}

.jay {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/jay.jpeg');

}

.himanshu {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/himanshu.jpeg');

}

.pranita {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/pranita.jpeg');

}

.akash {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/Akash.jpg');

}
@media screen and (max-width: 600px) {

    .top-images,
    .team-members,
    .team-member,
    .left-column,
    .right-column {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .team-member img {
        margin: 10px 0;
        /* Add space between the images and text */
    }

    .title h2 {
        font-size: 24px;
        /* Adjust font size for mobile */
    }

    .team-container h1,
    .team-container h2,
    .OC p {
        font-size: 20px;
        /* Adjust font size for mobile */
    }
    .title h2{
        font-size: 40px;
    }
    .team-container h2{
        font-size: 35px;
    }
    .team-container h1{
        font-size: 45px;
        background-color: rgb(74, 27, 27);
        border: 2px solid#F4DEA8;
        border-radius: 12px;
    }
}