.team-page {
  background-image: url('./bgimg/teambg.png'); /* Replace 'your_background_image.jpg' with the path to your background image */
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  padding: 0px;
  text-align: center;
  /* Add additional background styling as needed */
  overflow-y: auto;
}

.team-page h1{
    color: rgb(248, 221, 199);
    font-family: 'Inknut Antiqua';
    font-size: 60px;
    font-weight: 600;
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevent line breaks */
    padding: 10px;
    /* Optional padding for spacing */
}

.team-column {
    flex-shrink: 0;
    /* Prevent columns from shrinking */
    margin-right: 5%;
    margin-left: 10%;
    /* Optional margin between columns */
    text-align: center;
}

.team-member {
    margin-bottom: 0px;
    /* Optional margin between team members */
}

.team-member p{
    color: rgb(255, 209, 171);
    font-family: 'Inknut Antiqua';
    font-size: 20px;
}

.prerna{
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}

.aastha {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.sancheti {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.priyaank {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.kinjal {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.aniruddh {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.garv {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.agrajah {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.sanket {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.nakul {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.shounak {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.vishal {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.vaibhavi {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.priyanshi {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.jay {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.himanshu {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.pranita {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
.akash {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('./bgimg/default.jpg');
    /* Your background image styles here */
}
