
.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    /* Adjust the width and height as needed */
    height: 150px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
    /* Creates a circular shape */
    overflow: hidden;
    /* Hides the parts of the image outside the circle */
}